<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>DispatchFilter</filter-name>
        <filter-class>thunb.filters.DispatchFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RegistrationFilter</filter-name>
        <filter-class>thunb.filters.RegistrationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoadSubjectFilter</filter-name>
        <filter-class>thunb.filters.LoadSubjectFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CreateQuestionFilter</filter-name>
        <filter-class>thunb.filters.CreateQuestionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoadQuestionFilter</filter-name>
        <filter-class>thunb.filters.LoadQuestionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckAccessAdminFilter</filter-name>
        <filter-class>thunb.filters.CheckAccessAdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckAccessStudentFilter</filter-name>
        <filter-class>thunb.filters.CheckAccessStudentFilter</filter-class>
    </filter>
    
    
    
    <filter-mapping>
        <filter-name>CheckAccessStudentFilter</filter-name>
        <url-pattern>/ViewHistoryServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
     <filter-mapping>
        <filter-name>CheckAccessStudentFilter</filter-name>
        <url-pattern>/history.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckAccessStudentFilter</filter-name>
        <url-pattern>/SubmitQuizServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
     <filter-mapping>
        <filter-name>CheckAccessStudentFilter</filter-name>
        <url-pattern>/takeAQuiz.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
     <filter-mapping>
        <filter-name>CheckAccessStudentFilter</filter-name>
        <url-pattern>/TakeAQuizServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckAccessStudentFilter</filter-name>
        <url-pattern>/dashboard.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckAccessAdminFilter</filter-name>
        <url-pattern>/DeleteQuestionServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckAccessAdminFilter</filter-name>
        <url-pattern>/UpdateQuestionServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckAccessAdminFilter</filter-name>
        <url-pattern>/update.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckAccessAdminFilter</filter-name>
        <url-pattern>/CreateQuestionServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckAccessAdminFilter</filter-name>
        <url-pattern>/createQuestion.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckAccessAdminFilter</filter-name>
        <url-pattern>/SearchServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckAccessAdminFilter</filter-name>
        <url-pattern>/admin.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CreateQuestionFilter</filter-name>
        <url-pattern>/UpdateQuestionServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoadQuestionFilter</filter-name>
        <url-pattern>/update.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CreateQuestionFilter</filter-name>
        <url-pattern>/CreateQuestionServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoadSubjectFilter</filter-name>
        <url-pattern>/history.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoadSubjectFilter</filter-name>
        <url-pattern>/update.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoadSubjectFilter</filter-name>
        <url-pattern>/dashboard.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoadSubjectFilter</filter-name>
        <url-pattern>/admin.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoadSubjectFilter</filter-name>
        <url-pattern>/createQuestion.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RegistrationFilter</filter-name>
        <url-pattern>/RegistrationServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DispatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>thunb.listeners.MyServletContextListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>503</error-code>
        <location>/503.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403.html</location>
    </error-page>
    <resource-ref>
        <res-ref-name>QuizOnline</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
